<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>All Blogs</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quod
        quidem debitis dolorum suscipit at mollitia aliquam ut id, perferendis
        sunt. Molestiae, provident eveniet? A doloremque dolore sint officia
        harum?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quod
        quidem debitis dolorum suscipit at mollitia aliquam ut id, perferendis
        sunt. Molestiae, provident eveniet? A doloremque dolore sint officia
        harum?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quod
        quidem debitis dolorum suscipit at mollitia aliquam ut id, perferendis
        sunt. Molestiae, provident eveniet? A doloremque dolore sint officia
        harum?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quod
        quidem debitis dolorum suscipit at mollitia aliquam ut id, perferendis
        sunt. Molestiae, provident eveniet? A doloremque dolore sint officia
        harum?
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
